<div id="recharge-popup">
<div class="content">
<div class="subs-popup-wrapper">

   <a href="#" class="close" onclick="goToCart()"><img src="{{'closepopup.png' | asset_url }}" title="close" class="close_image"></a>

   <div class="subs-popup">

   <div class="subtitle col-xs-18 col-md-12"><span class="excl-offer">Exclusive Offer:</span> <span class="free-refill">Get a FREE Refill Pack!</span></div>
   <div class="sub_subtitle col-xs-18 col-md-12">Today only, get a free refill of your choosing; you will be billed $16.99 /mo. when your auto-ship begins in 30, 60 or 90 days</div>

   <div class="products-container col-md-12">
   <div class="products-wrapper">

   <div class="subpop_products col-xs-18 col-md-12">
    <div class="col-md-3 imagetab"><img src="{{'recharge-popup-1.jpg' | asset_url }}" title="" /></div>
    <div class="col-md-6 titletab">
        <h1 class="middletitle">Breathe 4-Pack Auto-Ship</h1>
        <h3 class="middlesubtitle">Aromatherapy with Eucalyptus, Peppermint & Lemon</h3>
    </div>
    <div class="col-md-3 pricetab">
        <h1 class="price">$0.00</h1>
        <div class="days">
        Deliver every
        <div class="input-append spinner" data-trigger="spinner" id="customize-spinner">
          <input type="text" value="30" data-max="90" data-min="30" data-step="30" class="days-input">
          <div class="add-on">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a>
          </div>
        </div>
        days

        </div>
        <div class="product-button"><input type="submit" value="Add to cart" onclick="addToCartRecurring(this, 1036461908)"/></div>
    </div>
    </div>
    </div>

    <div class="products-wrapper">
    <div class="subpop_products col-xs-18 col-md-12">
    <div class="col-md-3 imagetab"><img src="{{'recharge-popup-2.jpg' | asset_url }}" title="" /></div>
    <div class="col-md-6 titletab">
        <h1 class="middletitle">Passion 4-Pack Auto-Ship</h1>
        <h3 class="middlesubtitle">Aromatherapy with Orange, Cinnamon & Patchouli</h3>
    </div>
    <div class="col-md-3 pricetab">
        <h1 class="price">$0.00</h1>
        <div class="days">
        Deliver every
        <div class="input-append spinner" data-trigger="spinner" id="customize-spinner">
          <input type="text" value="30" data-max="90" data-min="30" data-step="30" class="days-input">
          <div class="add-on">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a>
          </div>
        </div>
        days

        </div>
        <div class="product-button"><input type="submit" value="Add to cart" onclick="addToCartRecurring(this, 1036463356)"/></div>
    </div>
    </div>
    </div>

    <div class="products-wrapper">
    <div class="subpop_products col-xs-18 col-md-12">
    <div class="col-md-3 imagetab"><img src="{{'recharge-popup-3.jpg' | asset_url }}" title="" /></div>
    <div class="col-md-6 titletab">
        <h1 class="middletitle">Night 4-Pack Auto-Ship</h1>
        <h3 class="middlesubtitle">Aromatherapy with Lavender, Bergamot & Sage</h3>
    </div>
    <div class="col-md-3 pricetab">
        <h1 class="price">$0.00</h1>
        <div class="days">
        Deliver every
        <div class="input-append spinner" data-trigger="spinner" id="customize-spinner">
          <input type="text" value="30" data-max="90" data-min="30" data-step="30" class="days-input">
          <div class="add-on">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a>
          </div>
        </div>
        days

        </div>
        <div class="product-button"><input type="submit" value="Add to cart" onclick="addToCartRecurring(this, 1036467980)"/></div>
    </div>
    </div>
    </div>

    <div class="products-wrapper">
    <div class="subpop_products col-xs-18 col-md-12">
    <div class="col-md-3 imagetab"><img src="{{'recharge-popup-4.jpg' | asset_url }}" title="" /></div>
    <div class="col-md-6 titletab">
        <h1 class="middletitle">Unwind 4-Pack Auto-Ship</h1>
        <h3 class="middlesubtitle">Aromatherapy with Lavander, Petitgrain & Vetiver</h3>
    </div>
    <div class="col-md-3 pricetab">
        <h1 class="price">$0.00</h1>
        <div class="days">
        Deliver every
        <div class="input-append spinner" data-trigger="spinner" id="customize-spinner">
          <input type="text" value="30" data-max="90" data-min="30" data-step="30" class="days-input">
          <div class="add-on">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a>
          </div>
        </div>
        days

        </div>
        <div class="product-button"><input type="submit" value="Add to cart" onclick="addToCartRecurring(this, 1036466560)"/></div>
    </div>
    </div>
    </div>

    <div class="products-wrapper">
    <div class="subpop_products col-xs-18 col-md-12">
    <div class="col-md-3 imagetab"><img src="{{'recharge-popup-5.jpg' | asset_url }}" title="" /></div>
    <div class="col-md-6 titletab">
        <h1 class="middletitle">Wisdom 4-Pack Auto-Ship</h1>
        <h3 class="middlesubtitle">Aromatherapy with Geranium, Lime & Ylang Ylang</h3>
    </div>
    <div class="col-md-3 pricetab">
        <h1 class="price">$0.00</h1>
        <div class="days">
        Deliver every
        <div class="input-append spinner" data-trigger="spinner" id="customize-spinner">
          <input type="text" value="30" data-max="90" data-min="30" data-step="30" class="days-input">
          <div class="add-on">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a>
          </div>
        </div>
        days

        </div>
        <div class="product-button"><input type="submit" value="Add to cart" onclick="addToCartRecurring(this, 1036469584)"/></div>
    </div>
    </div>
    </div>

    <div class="products-wrapper">
    <div class="subpop_products col-xs-18 col-md-12">
    <div class="col-md-3 imagetab"><img src="{{'recharge-popup-6.jpg' | asset_url }}" title="" /></div>
    <div class="col-md-6 titletab">
        <h1 class="middletitle">Clear 4-Pack Auto-Ship</h1>
        <h3 class="middlesubtitle">Aromatherapy with Lavander, Rose Geranium & Patchouli</h3>
    </div>
    <div class="col-md-3 pricetab">
        <h1 class="price">$0.00</h1>
        <div class="days">
        Deliver every
        <div class="input-append spinner" data-trigger="spinner" id="customize-spinner">
          <input type="text" value="30" data-max="90" data-min="30" data-step="30" class="days-input">
          <div class="add-on">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a>
          </div>
        </div>
        days

        </div>
        <div class="product-button"><input type="submit" value="Add to cart" onclick="addToCartRecurring(this, 1036470824)"/></div>
    </div>
    </div>
    </div>
    </div>

  </div>

  <div class="continue col-xs-18 col-md-11">
    <span class="no-thanks" onclick="removeFromCart();">No Thanks</span>
    <input type="button" class="btn btn-primary" value="Continue" onclick="goToCart();"/>
  </div>

  </div>
</div>
</div>

<style>
#recharge-popup img{max-width:100%;}
#recharge-popup h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}

#recharge-popup {
    border: 3px solid rgba(0,0,0,0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
    box-shadow: 0 0 18px rgba(0,0,0,0.4);

    box-sizing: border-box;
    height: 570px;
    padding: 10px 20px 5px;
    text-align: left;
    width: 50%;
    z-index: 1001;

    display: none;
    position: fixed;
    top: 5%;
    left: 25%;
}
#recharge-popup .content {
    background: none repeat scroll 0 0 #ffffff;
}
#recharge-popup .subs-popup-wrapper {

}
#recharge-popup .subs-popup {

}
#recharge-popup .middletitle {
  font-size: 20px;
  font-family: 'ProximaNova-Semibold';
  padding: 18px 0 3px;
  margin-bottom: 4px;
}
#recharge-popup .subs-popup-wrapper {
  margin: 10px auto auto;
  width: 100%;
}
#recharge-popup .middlesubtitle {
  color: #5e5e5e;
  font-size: 11px;
  font-family: 'ProximaNova-Regular';
}
#recharge-popup .price {
  font-family: "ProximaNova-Regular";
  font-size: 25px;
  margin-right: 15px;
  padding: 10px 0 3px;
  text-align: right;
  margin-bottom: 7px;
}
#recharge-popup .days {
  font-family: myriad pro;
  font-size: 10px;
  padding: 0;
  text-align: right;
  margin-bottom: 0px;
}

#recharge-popup .excl-offer {
  color: #ff8e2d;
  font-size: 30px;
  font-family: 'ProximaNova-Bold';
}
#recharge-popup .free-refill {
  color: #ff8e2d;
  font-size: 30px;
 font-family: 'ProximaNova-Semibold';
}
#recharge-popup .sub_subtitle {
  color: #525252;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: -5px;
  font-family: 'ProximaNova-Regular';
}
#recharge-popup .subpop_products {
  border: 1px solid #d9d9d9;
  margin: 5px 0;
  padding: 5px 0;
  width: 100%;
}

#recharge-popup .product-button {
  margin-right: 5px;
  text-align: right;
}
#recharge-popup .product-button input {
  background: none repeat scroll 0 0 #00a2de;
  border: medium none;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  padding: 4px 8px;
  text-align: center;
}
#recharge-popup .subtitle {
  line-height: 28px;
  margin: 0;
}
#recharge-popup .continue {
  background: none repeat scroll 0 0 #fff;
  bottom: 0;
  margin: auto;
  padding: 0;
  text-align: right;
  left: 45px;
}
#recharge-popup .continue input {
  background: none repeat scroll 0 0 #00a2de;
  border: medium none;
  border-radius: 2px;
  color: #fff;
  font-family: "HelviticaNeue";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
  padding: 5px 16px;
  //text-shadow:1px 1px 2px #000;
}
#recharge-popup .no-thanks {
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  margin: 0 22px;
  position: relative;
  text-decoration: underline;
  top: 5px;
  cursor: pointer;
}
#recharge-popup .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

#recharge-popup .products-container {
  height: 425px;
  overflow-y: scroll;
}

#recharge-popup .input-append, .input-prepend {
  display: inline-block;
  margin-bottom: 0;
  margin-top: -2px;
  vertical-align: top;
  font-size: 0;
  white-space: nowrap;
}

#recharge-popup .input-append input {
  font-size: 12px;
  vertical-align: top;
  border-radius: 4px 0 0 4px;
  border: 1px solid #cccccc;
}

#recharge-popup .input-append .add-on, .input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  margin-bottom: 3px;
}

#recharge-popup .add-on {
  border-radius: 0px 4px 4px 0px;
  padding: 0;
}

</style>