<section class="page-content-body">
  <div class="container">
		<div id="page" class="row">
		  
		 	<div class="col-md-12 details">
			    <h1 class="p25 hw-title">{{ page.title }}</h1>
			    <div class="product-description-tabs">
		           
		            	
		            	<p class="lead-p">
		                    	ESSIO transforms your shower into a luxurious spa-like experience at a fraction of the cost. It's easy to install, simple to use, sustainably made and 100% organic. Instant aromatherapy when you need it most. 
		                	</p>
		                	<p class="about-buy">
		                		
		                	</p>
					
		               

		                  	<section class="panel steps-container">
		                  		<div class="step step-1">
			                  		<div class="panel-body">
			                  			<h3>Attach to Arm.</h3>
			                  			Clip the ESSIO attachment arm onto your shower pipe. Secure the attachment by pressing the locking clamp upwards so it snaps onto the attachment clip.
			                  			<div>
			                  				<a href="javascript:void(0)" class="watch-now-btn" data-toggle="modal" data-target="#videoModal"><i class="fa fa-play-circle-o"></i> Watch the Video</a>
			                  			</div>

			                  		</div>
			                  	</div><!--end step 1-->

			                  	<div class="step step-2">
			                  		<div class="panel-body panel-right">
			                  			<h3>Insert Pod.</h3>
			                  			Remove a pod from the tray and take off the cap. Snap the pod into place by turning it clockwise until it locks into the pod mount.
			                  			<div>
			                  				<a href="javascript:void(0)" class="watch-now-btn" data-toggle="modal" data-target="#videoModal"><i class="fa fa-play-circle-o"></i> Watch the Video</a>
			                  			</div>
			                  			
			                  		</div>
			                  	</div><!--end step 1-->

			                  	<div class="step step-3">
			                  		<div class="panel-body">
			                  			<h3>Tilt & Enjoy!</h3>
			                  			Turn on the shower water. Tilt the pod into the stream of water and ESSIO will begin to diffuse the rejuvenating essential oils into your shower. Enjoy!
			                  			<div>
			                  				<a href="javascript:void(0)" class="watch-now-btn" data-toggle="modal" data-target="#videoModal"><i class="fa fa-play-circle-o"></i> Watch the Video</a>
			                  			</div>
			                  			
			                  		</div>
			                  		<div class="shop-now-btn-holder">
			                  			<a href="/products/starter-kit" class="btn btn-primary">Shop Now</a>
			                  		</div>
			                  	</div><!--end step 1-->
		                  	</section>

							
		                

		            </div><!--end prod description tags-->

		        </div><!--end row-->
		        <!--
		        {{ page.content }}
		    -->
		 	</div>
		  
		</div>
	</div>

	<div class="bg-top"></div>

    <div class="bg-bottom"></div>

    <div class="pod-tray-container"></div>
</section>



<section class="content-wrapper">
                 
    <div class="container">
     <div class="row">
        <h2 class="section-title"><span>As featured in</span></h2>

      </div><!--end row-->
      <div class="row featuredin-container">
          <div class="media-logo"><img src="{{ 'media_02.png' | asset_url }}"></div>
          <div class="media-logo"><img src="{{ 'media_04.png' | asset_url }}"></div>
          <div class="media-logo"><img src="{{ 'media_06.png' | asset_url }}"></div>
          <div class="media-logo"><img src="{{ 'media_08.png' | asset_url }}"></div>
          <div class="media-logo new-beauty"><img src="{{ 'media_10.png' | asset_url }}"></div>

      </div>
    </div>
</section>