<link rel="stylesheet" href="style.scss.css" type="text/css">
<!---<section class="page-content-body">
  <div class="container">
    <div id="page" class="row">
      
      <div class="col-md-12 details">
        <h1 class="p25">{{ page.title }}</h1>
        {{ page.content }}
      </div>
      
    </div>
  </div>
</section> -->



<section class="page-content-body">
  <div class="container">
   

<div id="customer-account">
  <div id="sh_wrapper">

<!--<left sidbar>-->
<div id="sh_left_sidebar">

<div id="sh_side_wrapper">
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="http://essioshower.com/pages/affiliate">Affiliate Program</a></li>
  <li><a href="http://essioshower.com/pages/what-is-essio">How it Works</a></li>
  <li><a href="http://essioshower.com/blogs/faq-s">FAQ</a></li>

</ul>
</div>
</div>

<!--<overview>-->
<div id="overview">
  <h1 style="padding-top: 10px"><strong>Overview</strong></h1>
  <p>Thanks for your interest in the <a href="http://www.shareasale.com/shareasale.cfm?merchantID=53467"><strong>ESSIO affiliate program</strong></a>, which enables you to earn commission selling ESSIO products through your company or personal website.</p>
  <img src="http://cdn.shopify.com/s/files/1/0366/5265/files/Affiliate_Page_2.png?6799" alt="essio affiliate program" width=550px left=50px>
  <h2 style="font-size: 26px; padding-top: 20px">Program Benefits:</h2>
<ul>
  <li><strong>15% commission</strong> on product sales</li>
  <li>Monthly <strong>affiliate newsletter</strong> with tips to maximize sales potential</li>
  <li> Seasonal and <strong>updated creative</strong> to keep your website fresh</li>
</ul>

  <p>ESSIO has teamed up with <a href="https://www.shareasale.com/newsignup.cfm">ShareASale</a> to offer a simple affiliate sign-up process, so that you can begin earning commission payments from your website as soon as possible. Becoming a ShareASale affiliate is easy and free.</p>

  <h2 style="font-size: 26px; padding-top: 20px;">Get Started Today!</h2>
<ul>
<li><a href="https://www.shareasale.com/newsignup.cfm">Sign up</a> as a ShareASale affiliate</li>
  <li><a href="http://www.shareasale.com/shareasale.cfm?merchantID=53467">Apply to the ESSIO Affiliate program</a></li>
<li>Add the creative assets to your website and start earning commissions!</li>
</ul>
  
  
</div>

<!--<Get Started>-->
<div id="get_started">
  <h4><strong>Perfect for...</strong></h4>
<ul>
<li>Aromatherapists</li>
<li>Health and Wellness Sites</li>
<li>Mom Bloggers</li>
<li>Retailers</li>
<li>and You!</li>
</ul>
  <div class="affiliate-container">
    <a href="http://www.shareasale.com/shareasale.cfm?merchantID=53467" class="btn btn-primary">Get Started</a>

</div>
<!--</Get Started>-->

  
  <!---<div class="row">
    <div class="col-md-12">
      
      
        
      </h1>
    </div>
  </div>--->

  <!---<div class="row">
    <div id="customer_sidebar" class="col-md-3">
      <section class="panel">
        
          
        <div class="panel-body">

          <ul class="nav nav-pills nav-stacked">
            <li {% if page_title == 'Account' %}class="active"{% endif %}><a href="/account">How it Works</a></li>
            <li {% if page_title == 'My Orders' %}class="active"{% endif %}><a href="/pages/my-orders">FAQ</a></li>
            <li>{{ 'Logout' | customer_logout_link }}</li>
          </ul>
        </div>
           
      </section>
    </div>

    <div id="customer_orders" class="col-md-9 customer-content-panel">
      <h1 class="p25">{{ page.title }}</h1>
      {{ page.content }}

     
      
    </div>--->
    
    
    
  </div> 
</div>

</div>

</section>